<script src="javascripts/jquery.js"></script>
<script src="javascripts/popper.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.easing.min.js"></script>
<script src="javascripts/Chart.min.js"></script>
<script src="javascripts/datatables/jquery.dataTables.js"></script>
<script src="javascripts/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="javascripts/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="javascripts/demo/datatables-demo.js"></script>
<script src="javascripts/demo/chart-area-demo.js"></script>
</body>

</html>